.dropdown-container {
    width: 40%;
    margin: auto;
}

.dropdown-container ul {
    text-align: left;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
}

.dropdown-container li {
    list-style: none;
    list-style: none;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}